body{
	text-align: center;
	background-color: lavender;
}

div{
	color: white;
	background-color: black;
	display: inline-block;
	padding: 5px;
	font-size: 40px;
	width: 40px;
	transition: 1s;
}

div:hover{
	color: whitesmoke;
	font-size: 100px;
	width: 300px;
}

span{
	font-size: 0px;
	opacity: 0;
	display: inline-block;
	transition: 1s;
}


div:hover > span {
	font-size: 80px;
	opacity: 1;
	/*transition-delay: 1s font-size;*/
}
